<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://johnrmarshallsr-001-site1.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://johnrmarshallsr-001-site1.ctempurl.com:8172/msdeploy.axd?site=johnrmarshallsr-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>johnrmarshallsr-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\johnrmarshallsr-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5006.smarterasp.net;Initial Catalog=DB_A1253F_pjmga;Persist Security Info=True;User ID=DB_A1253F_pjmga_admin;Password=Integral1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GA.Models.ApplicationDbContext, GA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GAEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=sql5006.smarterasp.net;Initial Catalog=DB_A1253F_pjmga;Persist Security Info=True;User ID=DB_A1253F_pjmga_admin;Password=Integral1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GA.Data.GAEntities, GA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sql5006.smarterasp.net;Initial Catalog=DB_A1253F_pjmga;Persist Security Info=True;User ID=DB_A1253F_pjmga_admin;Password=Integral1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GAEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.GAModel.csdl|res://*/Data.GAModel.ssdl|res://*/Data.GAModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql5006.smarterasp.net;Initial Catalog=DB_A1253F_pjmga;Persist Security Info=True;User ID=DB_A1253F_pjmga_admin;Password=Integral1"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>